name: ASKI Kesinti Kontrolü

on:
  schedule:
    - cron: '*/15 * * * *' # 15 dakikada bir çalıştır
  workflow_dispatch: # Manuel çalıştırmak istersen buton ekler

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      - name: Kodu Çek
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Kütüphaneleri Kur
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Scraper'ı Çalıştır
        env:
          # GitHub Secrets'tan anahtarı çekip sistem değişkeni yapıyoruz
          FIREBASE_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
        run: python main.py